<a href="https://colab.research.google.com/github/parthgupta49/Restaurant_Project/blob/main/bcaFTCleaning_Data_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


The majority of data science work often revolves around pre-processing data, and making sure it's ready for analysis. In this session, we will be covering how transform our raw data into accurate insights. In this notebook, you will learn:

* Import data into `pandas`, and use simple functions to diagnose problems in our data.
* Visualize missing and out of range data using `missingno` and `seaborn`.
* Apply a range of data cleaning tasks that will ensure the delivery of accurate insights.

## **The Dataset**

The dataset to be used in thisis a CSV file named `airbnb.csv`, which contains data on airbnb listings in the state of New York. It contains the following columns:

- `listing_id`: The unique identifier for a listing
- `description`: The description used on the listing
- `host_id`: Unique identifier for a host
- `host_name`: Name of host
- `neighbourhood_full`: Name of boroughs and neighbourhoods
- `coordinates`: Coordinates of listing _(latitude, longitude)_
- `Listing added`: Date of added listing
- `room_type`: Type of room
- `rating`: Rating from 0 to 5.
- `price`: Price per night for listing
- `number_of_reviews`: Amount of reviews received
- `last_review`: Date of last review
- `reviews_per_month`: Number of reviews per month
- `availability_365`: Number of days available per year
- `Number of stays`: Total number of stays thus far

## **Getting started**

In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import missingno as msno
import datetime as dt

In [2]:
# Read in the dataset
student_data = pd.read_csv('https://github.com/parthgupta49/Restaurant_Project/blob/main/Latest.csv?raw=true')

## **Diagnosing data cleaning problems using simple `pandas` and visualizations**

Some important and common methods needed to get a better understanding of DataFrames and diagnose potential data problems are the following:

- `.head()` prints the header of a DataFrame
- `.dtypes` prints datatypes of all columns in a DataFrame
- `.info()` provides a bird's eye view of column data types and missing values in a DataFrame
- `.describe()` returns a distribution of numeric columns in your DataFrame
- `.isna().sum()` allows us to break down the number of missing values per column in our DataFrame
- `.unique()` finds the number of unique values in a DataFrame column

<br>

- `sns.displot()` plots the distribution of one column in your DataFrame.

In [3]:
# Print the header of the DataFrame
student_data.head()

,Name,Register No,CGPA,Math Marks,Science Marks,English Marks,Gender
0,Steve Smith,2021001,9.228070,85,90,88,male
1,Emily Smith,2021002,9.649123,92,88,95,Female
2,Michael Johnson,2021003,8.526316,78,85,80,male
3,Sophia Lee,2021004,9.508772,90,92,89,Female
4,David Wang,2021005,8.842105,80,87,85,male

By merely looking at the data, we can already diagnose a range of potential problems down the line such as:

<br>

_Data type problems:_

- **Problem 1**: We can see that the `coordinates` column is probably a string (`str`) - most mapping functions require a latitude input, and longitude input, so it's best to split this column into two and convert the values to `float`.
- **Problem 2**: Similar to `coordinates` - the `price` column also is a string with `$` attached to each price point, we need to convert that to `float` if we want a good understanding of the dataset.
- **Problem 3**: We need to make sure date columns (`last_review` and `listing_added`) are in `datetime` to allow easier manipulation of data data.

<br>

_Missing data problems:_

- **Problem 4**: We can see that there are missing data in some columns, we'll get a better bird's eye view of that down the line.

<br>

_Text/categorical data problems:_


- **Problem 5**: To be able to visualize number of listings by boroughs - we need to separate neighborhoud name from borough name in `neighbourhood_full` column.
- **Problem 6**: Looking at `room_type`, let's replace those values to make them `'Shared Room'`, `'Private Home/Apartment'`, `'Private Room'` and `'Hotel Room'`.

In [4]:
# Print data types of DataFrame
student_data.dtypes

Name               object
 Register No        int64
 CGPA             float64
 Math Marks         int64
 Science Marks      int64
 English Marks      int64
Gender             object
dtype: object

Printing the data types confirms that `coordinates` and `price` need to be converted to `float`, and date columns need to be converted to `datetime` _(**problems 1,2 3)**_

In [5]:
# Print info of DataFrame
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            13 non-null     object
 1    Register No    13 non-null     int64
 2    CGPA           13 non-null     float64
 3    Math Marks     13 non-null     int64
 4    Science Marks  13 non-null     int64
 5    English Marks  13 non-null     int64
 6   Gender          13 non-null     object
dtypes: float64(1), int64(4), object(2)
memory usage: 856.0+ bytes

Printing the info confirms our hunch about the following:

- There is missing data in the `price`, `last_review`, `reviews_per_month`, `rating`, `number_of_stays`, `5_stars` columns. It also seems that the missingness of `last_review`, `reviews_per_month`, `rating`, `number_of_stays`, `5_stars` are related since they have the same amount of missing data. We will confirm later with `missingno` _(**problem 4**)_.

In [6]:
# Print number of missing values
student_data.isna().sum()

Name              0
 Register No      0
 CGPA             0
 Math Marks       0
 Science Marks    0
 English Marks    0
Gender            0
dtype: int64

There are a variety of ways of dealing with missing data that is dependent on type of missingness, as well as the business assumptions behind our data - our options could be:

- Dropping missing data (if the data dropped does not impact or skew our data)
- Setting to missing and impute with statistical measures (median, mean, mode ...)
- Imputing with more complex algorithmic/machine learning based approaches
- Impute based on business assumptions of our data

In [7]:
# Print description of DataFrame
student_data.describe()

        Register No       CGPA   Math Marks   Science Marks   English Marks
count  1.300000e+01  13.000000    13.000000       13.000000       13.000000
mean   2.021006e+06   8.545209    80.384615       76.769231       86.384615
std    3.454837e+00   0.653708     7.632589        9.875507        5.236705
min    2.021001e+06   7.719298    72.000000       66.000000       80.000000
25%    2.021004e+06   8.035088    75.000000       69.000000       83.000000
50%    2.021006e+06   8.350877    78.000000       72.000000       85.000000
75%    2.021009e+06   9.087719    85.000000       87.000000       88.000000
max    2.021012e+06   9.649123    95.000000       92.000000       98.000000

- **Problem 8**: There are trailing spaces and capitalization issues with `room_type`, we need to fix this problem.

### Data type problems

In [8]:
# Reminder of the DataFrame
student_data.head()

,Name,Register No,CGPA,Math Marks,Science Marks,English Marks,Gender
0,Steve Smith,2021001,9.228070,85,90,88,male
1,Emily Smith,2021002,9.649123,92,88,95,Female
2,Michael Johnson,2021003,8.526316,78,85,80,male
3,Sophia Lee,2021004,9.508772,90,92,89,Female
4,David Wang,2021005,8.842105,80,87,85,male

In [14]:
# Print header of two columns
student_data['Name'].head()

0        Steve Smith
1        Emily Smith
2    Michael Johnson
3         Sophia Lee
4         David Wang
Name: Name, dtype: object

In [15]:
# Confirm price has been imputed
student_data.isna().sum()

Name              0
 Register No      0
 CGPA             0
 Math Marks       0
 Science Marks    0
 English Marks    0
Gender            0
dtype: int64

In [21]:
# Find duplicates
duplicates = student_data.duplicated('Gender')
print(duplicates)

KeyError: Index(['CGPA'], dtype='object')

In [ ]:
# Find duplicates
airbnb[duplicates].sort_values('listing_id')

      listing_id  ... is_rated
1145      253806  ...        1
6562      253806  ...        1
8699     2044392  ...        0
5761     2044392  ...        0
4187     4244242  ...        1
2871     4244242  ...        1
77       7319856  ...        1
2255     7319856  ...        1
555      9078222  ...        1
7933     9078222  ...        1
1481    15027024  ...        1
3430    15027024  ...        1
3065    16518377  ...        1
5397    16518377  ...        1
3007    17861841  ...        1
368     17861841  ...        1
6438    19477677  ...        1
5251    19477677  ...        1
5454    21106251  ...        1
6832    21106251  ...        1
5246    22014840  ...        1
6068    22014840  ...        1
5861    23990868  ...        1
6132    23990868  ...        1
7769    26554879  ...        1
7116    26554879  ...        1
5236    29844951  ...        1
9425    29844951  ...        1
7316    31470004  ...        0
9322    31470004  ...        0
1338    32610834  ...        0
6313    32610834  ...        0
6085    33346762  ...        1
2118    33346762  ...        1
5025    33831116  ...        1
5077    33831116  ...        1
1658    35646737  ...        1
3340    35646737  ...        1
7155    35801208  ...        0
9265    35801208  ...        0

[40 rows x 19 columns]

In [ ]:
# Remove identical duplicates
airbnb = airbnb.drop_duplicates()

In [ ]:
# Find non-identical duplicates
duplicates = airbnb.duplicated(subset = 'listing_id', keep = False)

In [ ]:
# Show all duplicates
airbnb[duplicates].sort_values('listing_id')

      listing_id  ... is_rated
5761     2044392  ...        0
8699     2044392  ...        0
2871     4244242  ...        1
4187     4244242  ...        1
77       7319856  ...        1
2255     7319856  ...        1
555      9078222  ...        1
7933     9078222  ...        1
1481    15027024  ...        1
3430    15027024  ...        1
7316    31470004  ...        0
9322    31470004  ...        0
7155    35801208  ...        0
9265    35801208  ...        0

[14 rows x 19 columns]

To treat identical duplicates across some columns, we will chain the `.groupby()` and `.agg()` methods where we group by the column used to find duplicates (`listing_id`) and aggregate across statistical measures for `price`, `rating` and `list_added`. The `.agg()` method takes in a dictionary with each column's aggregation method - we will use the following aggregations:

- `mean` for `price` and `rating` columns
- `max` for `listing_added` column
- `first` for all remaining column

*A note on dictionary comprehensions:*

Dictionaries are useful data structures in Python with the following format
`my_dictionary = {key: value}` where a `key` is mapped to a `value` and whose `value` can be returned with `my_dictionary[key]` - dictionary comprehensions allow us to programmatically create dicitonaries using the structure:

```
{x: x*2 for x in [1,2,3,4,5]}
{1:2, 2:4, 3:6, 4:8, 5:10}
```

In [ ]:
# Get column names from airbnb
column_names = airbnb.columns
column_names

Index(['listing_id', '5_stars', 'availability_365', 'borough', 'host_id',
       'host_name', 'is_rated', 'last_review', 'latitude', 'longitude', 'name',
       'neighbourhood', 'number_of_reviews', 'number_of_stays',
       'reviews_per_month', 'room_type', 'price', 'rating', 'listing_added'],
      dtype='object')

In [ ]:
# Create dictionary comprehension with 'first' as value for all columns not being aggregated
aggregations = {column_name:'first' for column_name in column_names.difference(['listing_id', 'listing_added', 'rating', 'price'])}
aggregations['price'] = 'mean'
aggregations['rating'] = 'mean'
aggregations['listing_added'] = 'max'
aggregations

{'5_stars': 'first',
 'availability_365': 'first',
 'borough': 'first',
 'host_id': 'first',
 'host_name': 'first',
 'is_rated': 'first',
 'last_review': 'first',
 'latitude': 'first',
 'listing_added': 'max',
 'longitude': 'first',
 'name': 'first',
 'neighbourhood': 'first',
 'number_of_reviews': 'first',
 'number_of_stays': 'first',
 'price': 'mean',
 'rating': 'mean',
 'reviews_per_month': 'first',
 'room_type': 'first'}

In [ ]:
# Remove non-identical duplicates
airbnb = airbnb.groupby('listing_id').agg(aggregations).reset_index()

In [ ]:
# Make sure no duplication happened
airbnb[airbnb.duplicated('listing_id', keep = False)]

Empty DataFrame
Columns: [listing_id, 5_stars, availability_365, borough, host_id, host_name, is_rated, last_review, latitude, longitude, name, neighbourhood, number_of_reviews, number_of_stays, reviews_per_month, room_type, price, rating, listing_added]
Index: []

In [ ]:
# Print header of DataFrame
airbnb.head()

   listing_id   5_stars  availability_365  ...  price    rating listing_added
0        3831  0.757366               194  ...   89.0  3.273935    2018-12-30
1        6848  0.789743                46  ...  140.0  3.495760    2018-12-24
2        7322  0.669873                12  ...  140.0  4.389051    2018-12-26
3        7726  0.640251                21  ...   99.0  3.305382    2018-12-17
4       12303  0.918593               311  ...  120.0  4.568745    2018-03-27

[5 rows x 19 columns]